*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 167px;
}

div {
  height: 25px;
  margin-bottom: 30px;
}

.checkbox_form {
  display: block;
  padding-top: 100px;
  font-size: 21pt;
  text-align: left;
}

label {
  cursor: pointer;
}

input {
  display: none;
  transform:scale(2.5);
  cursor:pointer;
  margin-right: 15px;
  margin-left: 10px;
}

label:before {
  content: '';
  display: inline-block;
  margin-right: 15px;
  border: 2px solid black;
  width: 25px;
  height: 25px;
}

input:checked + label:before{
  content: '';
  border: none;
  border-bottom: 3px solid rgb(33, 190, 201);
  border-left: 3px solid rgb(33, 190, 201);
  margin-bottom: 5px;
  height: 12px;
  transform: rotate(-45deg);
}
