* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.letters_block {
    padding-top: 100px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.letter {
    padding-top: 14px;
    margin-top: 25px;
    text-align: center;
    width: 130px;
    height: 50px;
    background-color: rgb(223, 223, 223);
    color: rgb(78, 78, 78);
    transition: 0.4s ease-in-out;
}

.letter:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 10px rgb(78, 78, 78);
}

.A {
    box-shadow: -4px -4px 0 rgb(78, 78, 78);
}

.B {
    box-shadow: -4px -4px 4px rgb(78, 78, 78);
}

.C {
    box-shadow: -5px -5px 0 5px rgb(78, 78, 78);
}

.D {
    box-shadow: -5px -5px 7px 5px rgb(78, 78, 78);
}

.E {
    box-shadow: 0 0 5px 1px rgb(78, 78, 78);
}

.F {
    box-shadow: 0 0 8px 4px rgb(78, 78, 78);
}