* {
  box-sizing: border-box;
}

li {
    list-style-type: none;
    cursor: pointer;
}

li:before {
  content: "➢";
}

.list_block {
  border: 1px solid aquamarine;
  width: 400px;
  padding: 10px 30px;
  margin: 0 auto;
}

.title{
  text-align: center;
}
