.title{
  text-align: center;
}

#hider {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-size: 16pt;
  padding: 10px;
}

#text {
  text-align: center;
  font-size: 14pt;
}

li {
    list-style-type: none;
}

li:before {
  content: "➢";
}

.list_block {
  border: 1px solid aquamarine;
  width: 300px;
  padding: 10px 30px;
  margin: 0 auto;
}

#menu_title:hover {
  cursor: pointer;
  color: blue;
}
