.paper-btn {
  display: inline-block;
  margin: 58px 12px;
}

.paper-btn label {
  display: inline-block;
  width: 80px;
  border-radius: 3px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #616161;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.paper-btn input {
  display: none;
}
.paper-btn-true input:checked ~ label {
  background-color: green;
  color: white;
  box-shadow: 5px 5px 10px 3px gray;
}

.paper-btn-false input:checked ~ label {
  background-color: red;
  color: white;
  box-shadow: 5px 5px 10px 3px gray;
}