@mixin centring
    display: block
    margin: 0 auto
    
*
    margin: 0
    padding: 0
    box-sizing: border-box

@font-face
    font-family: GothaProBla
    src: url(../fonts/GothaProBla.otf)

@font-face
    font-family: GothaProMed
    src: url(../fonts/GothaProMed.otf)

@font-face
    font-family: GothaProLig
    src: url(../fonts/GothaProLig.otf)

body
    background-color: #202020
    margin: 0
    color: white

.container
    @include centring
    width: 100%
    max-width: 1220px

.header
    display: flex
    width: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 10
    background-color: #181818
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,1)
    &_nav
        font-size: 24.61px
        &_text
            display: inline-block
            margin-left: 100px
            position: relative
            font-family: GothaProBla
            text-decoration: none
            color: white
            &::after
                content: ""
                display: block
                width: 100%
                height: 2px
                background-color: white
                position: absolute
                z-index: 1
                transition: background-color 0.2s linear
            &:hover
                color: #505050
                &::after
                    background-color: #505050
    &_in
        display: flex
        justify-content: space-between
        align-items: center
    .logo
        margin: 20px 0
        width: 165px

.line
    background-color: white
    height: 6px
    width: 50%
    position: absolute
    left: 0
    margin-top: 175px

#first_line
    margin-top: 151px

.block_store
    @include centring
    width: 1200px
    margin-top: 200px
    .text
        &_img
            font-family: "GothaProLig"
            font-size: 21px
            color: white
            text-decoration: none
        &_store
            .line_store
                width: 400px
                height: 6px
                background-color: white
            .brands
                margin-top: 25px
                font-size: 24.61px
                .menu_top_text
                    display: inline-block
                    margin-right: 62px
                    font-family: "GothaProLig"
                    text-decoration: none
                    color: #717171
                    transition: color 0.2s linear
                    &:hover
                        color: white
                        &::after
                            background-color: #505050
                    &::after
                        content: ""
                        display: block
                        height: 2px
                        background-color: #717171
                        transition: background-color 0.2s linear
        &_top
            font-family: "GothaProBla"
            font-size: 110px
        &_down
            font-family: "GothaProMed"
            font-size: 57px
        
.brand_section
    width: 1200px
    height: 447px
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,1)
    .catalog
        display: flex
        margin-top: 100px
        justify-content: space-between
        padding: 0 74px
    .text_img
        display: inline-block
        p
            margin-top: 25px
        img
            width: 300px
            height: 310px
            display: block
        a
            margin-top: 40px
            margin-left: 70px
        img
            margin-top: 40px
    &_title
        font-size: 60px
        margin-top: 300px
        h2
            font-family: "GothaProMed"
            font-size: 47px

.footer
    margin-top: 100px
    padding: 50px
    height: 290px
    box-shadow: 0px -20px 15px 0px rgba(0,0,0,0.46)
    &_in
        font-family: GothaProBla
        color: white
        font-size: 25px
        display: flex
        justify-content: space-between
        a
            font-size: 20px
            text-decoration: none
            color: #525252
            font-family: GothaProLig
            transition: color 0.2s linear
            &:hover
                color: white
    &_column_1
        font-size: 37px
        font-family: GothaProMed
        img
            box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.46)
            width: 350px
    &_column_4
        img
            width: 15px
        .vk
            width: 20px
    .line_footer
        height: 6px
        width: 700px
        background-color: white
        margin-bottom: 50px

.in_top
    font-family: GothaProLig
    font-size: 24px
    background-color: #181818
    opacity: 0.25
    position: fixed
    left: 0px
    top: 78px
    width: 100px
    height: 100%
    filter: alpha(opacity=50)
    cursor: pointer
    display: none
    z-index: 1
    &:hover
        background-color: black
        filter: alpha(opacity=100)
    span
        display: block
        width: 100px
        margin-top: 10px
        text-align: center
        color: white