#field{
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 350px;
  height: 400px;
  background-color: black;
  cursor: pointer;
}

#image {
  position: absolute;
  width: 50px;
  height: 50px;
  background: no-repeat center/80% url("moth.svg");
  transition: .5s;
}