@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ul {
  display: block;
  margin: 0 auto;
  width: 400px;
  padding: 20px;
  border: 5px solid lightblue;
  font-size: 21pt;
}

li {
  font-size: 18pt;
  margin-left: 40px;
  list-style: circle;
}