* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: GothaProBla;
  src: url(../fonts/GothaProBla.otf);
}

@font-face {
  font-family: GothaProMed;
  src: url(../fonts/GothaProMed.otf);
}

@font-face {
  font-family: GothaProLig;
  src: url(../fonts/GothaProLig.otf);
}

body {
  background-color: #202020;
  margin: 0;
  color: white;
}

.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1220px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #181818;
  -webkit-box-shadow: 0px 0px 35px 0px black;
          box-shadow: 0px 0px 35px 0px black;
}

.header_nav {
  font-size: 24.61px;
}

.header_nav_text {
  display: inline-block;
  margin-left: 100px;
  position: relative;
  font-family: GothaProBla;
  text-decoration: none;
  color: white;
}

.header_nav_text::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  z-index: 1;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.header_nav_text:hover {
  color: #505050;
}

.header_nav_text:hover::after {
  background-color: #505050;
}

.header_in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  margin: 20px 0;
  width: 165px;
}

.line {
  background-color: white;
  height: 6px;
  width: 50%;
  position: absolute;
  left: 0;
  margin-top: 175px;
}

#first_line {
  margin-top: 151px;
}

.block_store {
  display: block;
  margin: 0 auto;
  width: 1200px;
  margin-top: 200px;
}

.block_store .text_img {
  font-family: "GothaProLig";
  font-size: 21px;
  color: white;
  text-decoration: none;
}

.block_store .text_store .line_store {
  width: 400px;
  height: 6px;
  background-color: white;
}

.block_store .text_store .brands {
  margin-top: 25px;
  font-size: 24.61px;
}

.block_store .text_store .brands .menu_top_text {
  display: inline-block;
  margin-right: 62px;
  font-family: "GothaProLig";
  text-decoration: none;
  color: #717171;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.block_store .text_store .brands .menu_top_text:hover {
  color: white;
}

.block_store .text_store .brands .menu_top_text:hover::after {
  background-color: #505050;
}

.block_store .text_store .brands .menu_top_text::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #717171;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.block_store .text_top {
  font-family: "GothaProBla";
  font-size: 110px;
}

.block_store .text_down {
  font-family: "GothaProMed";
  font-size: 57px;
}

.brand_section {
  width: 1200px;
  height: 447px;
  -webkit-box-shadow: 0px 0px 35px 0px black;
          box-shadow: 0px 0px 35px 0px black;
}

.brand_section .catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 74px;
}

.brand_section .text_img {
  display: inline-block;
}

.brand_section .text_img p {
  margin-top: 25px;
}

.brand_section .text_img img {
  width: 300px;
  height: 310px;
  display: block;
}

.brand_section .text_img a {
  margin-top: 40px;
  margin-left: 70px;
}

.brand_section .text_img img {
  margin-top: 40px;
}

.brand_section_title {
  font-size: 60px;
  margin-top: 300px;
}

.brand_section_title h2 {
  font-family: "GothaProMed";
  font-size: 47px;
}

.footer {
  margin-top: 100px;
  padding: 50px;
  height: 290px;
  -webkit-box-shadow: 0px -20px 15px 0px rgba(0, 0, 0, 0.46);
          box-shadow: 0px -20px 15px 0px rgba(0, 0, 0, 0.46);
}

.footer_in {
  font-family: GothaProBla;
  color: white;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_in a {
  font-size: 20px;
  text-decoration: none;
  color: #525252;
  font-family: GothaProLig;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.footer_in a:hover {
  color: white;
}

.footer_column_1 {
  font-size: 37px;
  font-family: GothaProMed;
}

.footer_column_1 img {
  -webkit-box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.46);
          box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.46);
  width: 350px;
}

.footer_column_4 img {
  width: 15px;
}

.footer_column_4 .vk {
  width: 20px;
}

.footer .line_footer {
  height: 6px;
  width: 700px;
  background-color: white;
  margin-bottom: 50px;
}

.in_top {
  font-family: GothaProLig;
  font-size: 24px;
  background-color: #181818;
  opacity: 0.25;
  position: fixed;
  left: 0px;
  top: 78px;
  width: 100px;
  height: 100%;
  filter: alpha(opacity=50);
  cursor: pointer;
  display: none;
  z-index: 1;
}

.in_top:hover {
  background-color: black;
  filter: alpha(opacity=100);
}

.in_top span {
  display: block;
  width: 100px;
  margin-top: 10px;
  text-align: center;
  color: white;
}
