* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: GothaProBla;
    src: url(fonts/GothaProBla.otf);
}
@font-face {
    font-family: GothaProMed;
    src: url(fonts/GothaProMed.otf)
}
@font-face {
    font-family: GothaProLig;
    src: url(fonts/GothaProLig.otf)
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    background-color: #202020;
    margin: 0;
    color: white;
}
 /*  ШАПКА  */
.container {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
}
.intro {
    width: 100%;
    height: 100vh;
}
.header {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #181818;
    
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,1);
}
.nav_header {
    font-size: 24.61px;
}
.nav_header_text {
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
    position: relative;
    
    font-family: GothaProBla;
    text-decoration: none;
    color: white;
    
    transition: color 0.2s linear;
}
.nav_header_text::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    
    background-color: white;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: background-color 0.2s linear;
}
.nav_header_text:hover::after {
    background-color: #505050;
}
.nav_header_text:hover {
    color: #505050;
}
.header_in {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 165px;
    height: 38px;
}

/*  ПОДВАЛ-MAIN  */
.footer_column_1 img {
    box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.46);
    width: 350px;
}
.line_footer {
    bottom: 50px;
    height: 6px;
    width: 700px;
    background-color: white;
    margin-bottom: 50px;
}
.footer_in {
    vertical-align: bottom;
    font-family: GothaProBla;
    color: white;
    font-size: 25px;
    
    top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.footer_in a {
    font-size: 20px;
    text-decoration: none;
    color: #525252;
    font-family: GothaProLig;
    
    transition: color 0.2s linear;
}
.footer_in a:hover {
    color: white;
}
.footer_column_4 img {
    width: 15px;
}

.footer_column_4 .vk {
    width: 20px;
}
.footer_column_3 {
    height: 140px;
}
.footer_column_2 {
   height: 140px; 
}
.footer_column_1 {
    font-size: 37px;
    font-family: GothaProMed;
}
.footer {
    padding: 50px;
    position: relative;
    box-shadow: 0px -20px 15px 0px rgba(0,0,0,0.46);
}

.in_top{
    font-family: GothaProLig;
    font-size: 24px;
    background-color: #181818;
    
    opacity: 0.25;
    position: fixed;
    left: 0px;
    top: 78px;
    width: 100px;
    height: 100%;
    filter: alpha(opacity=50);
    cursor: pointer;
    display: none;
    
    z-index: 1;
}
.in_top:hover{
    background-color: black;
    filter: alpha(opacity=100);
}
.in_top span{
    display: block;
    width: 100px;
    margin-top: 10px;
    text-align: center;
    color: white;
}