* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 30px;
}

table td {
    border: 1px solid black;
    width: 400px;
    vertical-align: top;
}

img {
    width: 100%;
}

img:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.forest {
    filter: hue-rotate(90deg);
}

.forest:hover{
    filter: hue-rotate(0);
}

.space {
    filter: brightness(60%) drop-shadow(7px 7px 10px rgb(112, 112, 5));
    width: 90%;
    margin: 5px 10px;
}

.space:hover {
    filter: brightness(100%) drop-shadow(0px 0px 0px);
}

.tiger {
    filter: sepia(40%) saturate(60%);
}

.tiger:hover {
    filter: sepia(0) saturate(100%);
}

.cat {
    filter: hue-rotate(-5deg) saturate(1900%) drop-shadow(7px 7px 2px blue) drop-shadow(20px 20px 10px rgb(0, 243, 0));
    width: 80%;
    margin: 0px 10px;
}

.cat:hover {
    filter: hue-rotate(0) saturate(100%) drop-shadow(0px 0px 0px) drop-shadow(0px 0px 0px);
}